* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  margin-bottom: 25px;
}

div {
  margin-bottom: 15px;
}
.names {
  display: block;
}

a{
  color: #ffffff;
  text-decoration: none;
  background-color: lightslategray;
  padding: 8px 15px;
  border-radius: 20px;
  bottom: 50px;
  transform: translate(-50%, 0);
}
a:hover
{
  background-color: lightcoral;
  color: #ffffff;
}

.message-error {
  color: red;
  font-size: 12px;
  opacity: 0;
  transition: all linear .5s;
  &.invalid {
    opacity: 1;
  }
}
