.contenedor {
  min-width: 240px;
  max-width: 350px;
  margin: 15px 0;
  border: 4px solid #000000;
  border-radius: 20px;
  padding: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
}

.mesageError{
  color: red;
  font-size: 12px;
}
